assets/files/Movies.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Movies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="Movie">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="Title">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="Runtime" type="xs:integer" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="Genre" type="xs:string" />
              <xs:element minOccurs="1" maxOccurs="1" name="Director">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="unbounded" name="Name">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" name="First" type="xs:string" />
                          <xs:element minOccurs="1" name="Last" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="High-rated-movie" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="Studio" type="xs:string" />
              <xs:element minOccurs="1" maxOccurs="1" name="Year" type="xs:unsignedShort" />
            </xs:sequence>
            <xs:attribute name="Rating" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>